

.flowerBack{
    background-image: url('../images/cherry blossom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.des{
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}