

/* .index-back{
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
} */

.welcome{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.coloured-top{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(69, 73, 73);
}

.coloured-text{
    font-size: large;
}

